.course{
    padding: 50px;
}

.course h4{
    background-color: #094435;
    display: inline;
    padding: 22px 18px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
}

.course p{
    margin-top: 50px;
    color: gray;
}
.course h2{
    font-family: "Playfair Display", serif;
    transition: 0.4s ease;
}
.course img:hover{
    cursor: pointer;
}
.course p span{
    margin-top: 50px;
    color: black;
}
.course h2:hover{
    color: #FFA300 ;
    cursor: pointer;
}

.course small{
    color: #FFA300;
}


@media only screen and (max-width: 768px){
    .course{
        padding: 10px;
    }
    
}
