.allCourses{

}

.allCourses .allCourses-icon{
    font-size: 150px;
    border: 2px solid #FFA300;
    border-radius: 50%;
    padding: 30px;
    background-color: #F8F6F4;
    color: #0A4D3C;
    margin: 50px 0px 20px 0;
}

.allCourses .arrowRight{
    font-size: 50px;
    padding: 10px;
    border-radius: 50%;
    color: white;
    margin: 20px 0;
    font-weight: 100;
}

.grid:hover .arrowRight{
    background-color: #FFA300;
}
.grid:hover .allCourses-icon{
    background-color: #FFA300;
}
.grid h2{
    font-family: "Playfair Display", serif;
    font-weight: 600;
}
.grid:hover h2{
    color: #FFA300;
}

@media  only screen and (max-width: 768px) {
    
}