.HomeInstructor{
    padding: 100px;
    background-color: #F8F6F4;

}
.instructor-left{
    background-image: url(../../../img/instructor/instructor-long.png); 
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
}
.meet-instructor{
    background-color: rgba(132, 224, 252, 0.4);
    height: 25%;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -13px;
}
.meet-instructor .btn{
   background-color: #FFA300 ;
   font-size: 20px;
   font-weight: 500;
   color: white;
}
.meet-instructor .btn:hover{
   background-color: #0A4D3C;
  
}

.instructor-right{
    padding: 5%;
    margin-top: 50px;
}
.instructor-right p{
    color: #0A4D3C;
}
.instructor-right h2{
    color: #0A4D3C;
}
.instructor-right p span{
    color: gray;
}

@media only screen and (max-width: 800px) {
    .instructor-left{
        height: 100vh;
    }
    .HomeInstructor{
        padding: 35px;
    }
  }

